<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admin</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
	<link rel="stylesheet" href="admin.css">
</head>
<body>
	<div class="container">
		<nav class="navbar">
			<a class="logo" href="/index">Hong Phuong</a>
			<ul class="nav-list">
				<li class="nav-item"><a href="/admin/dashboard" class="nav-link">Waiting List</a></li>
				<li class="nav-item"><a href="/admin/reservation" class="nav-link">Reservation</a></li>
                <li class="nav-item"><a href="/admin/rooms" class="nav-link">Rooms</a></li>
			</ul>
			<ul class="nav-list">
				<li class="nav-item"><a href="/admin/logout" class="nav-link book-btn">Logout</a></li>
			</ul>
		</nav>
		</nav>
	</div>
	<section id="info" class="info">
		<div class="container">
			<h2>ROOM LIST</h2>
		</div>
	</section>
	<!-- Tab content with title -->
	<div align="center">
		<br><br>
		<table>
			<thead>
				<tr> <!-- display column name -->
					<th>ID</th>
					<th>Room Number</th>
					<th>Type</th>
					<th>Delete</th>
					<th>Edit</th>
				</tr>
			</thead>
			<tbody>

					<% room.forEach(element=>{ %>
						<tr>
							<td data-label="ID" style="font-size: 17px; color: aliceblue;">
								<%= element.id %>
							</td> <!--insert into row values -->
							<td data-label="Room Number" style="font-size: 17px; color: aliceblue;">
								<%= element.number %>
							</td>
							<td data-label="Type" style="font-size: 17px; color: aliceblue;">
								<%= element.type_id %>
							</td>
                        <td>
							<form method="POST" action="/admin/deleteRoom/<%= element.id %>">
								<button class="delete-btn">
									Delete
								</button>
							</form>
						</td>
						<td>
							<form method="POST" action="/admin/editRoom/<%= element.id %>">
								<button class="edit-btn">
									Edit
								</button>
							</form>
						</td>
						</tr>
						<% }) %>
			</tbody>
		</table>>
	</div>
	<script src="tab.js"></script>
</body>